
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
   
}

:root{
  --primary : #01789C;

}

html,body{
  max-width: 100% !important;
  overflow-x: hidden !important;
  background-color: hsla(0, 17%, 91%, 0.71);
}

/* Header Contact */

.header_contact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  background-color: var(--primary);
}
.header_contact span{
color: #D3CECE;
}


/* NavBar */


.navBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.nav_elements ul{
  width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  list-style: none;
  
}

.nav_elements ul li a{
  text-decoration: none;
  color: #00226C;
}

.navBar .navButton{
  padding: 10px;
  background-color: #00226C;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
}

/* Responsive NavBar */
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  .navBar img{
    height: 40px;
    width: 60px;
  }
  .header_contact span{
    font-size: 8px;
  }
  .menu-button  a{
    text-decoration: none;
    color: #00226C;
    
  }
  .sidebar li{
    margin: 10px;
    font-weight: 500;
  }
  .menu-button .navButton{
    padding: 10px;
    background-color: #00226C;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    
  }
  
}

/* Hero Section */

.heroImg img{
  width: 100vw;
  height: 600px;
  margin-bottom: 50px;
}


/* Responsive */

@media(max-width:400px){
  .heroImg img{
    width: 400px !important;
    height: 600px;
    margin-bottom: 50px;
  }
  .heroImg img{
    width: 90vw;
    height: 250px;
  }
}

.sec_2{
  background-color: #01788C;

  height: 700px;
  width: 100vw;
}
.sec_2 img{
  height: 700px;
  width: 100vw;
}

/* Section - 2 */

.firstText{
  display: block;
  color: #00226C;
  font-size: 19px;
  font-weight: 500;
}
.secondText{
  font-size: 35px;
  font-weight: 600;
  display: block;
  color: #ffff;
  margin-top: 2%;
}
.thirdText{
  color: hsla(0, 0%, 100%, 0.725);
  margin-top: 5%;
  display: block;
  width: 500px;
}
.listTick{
  margin-top: 9%;
}
.listTick li{
  list-style: none;
  color: hsla(0, 0%, 100%, 0.719);
  margin-top: 30px;
}

.listTick li img{
  margin-right: 15px;
  width: 30px !important;
  height: 30px !important;
}

.sec_2_img_1{
  height: 500px !important;
  width: 500px !important;
}

.sec_2_img_2{
  height: 300px !important;
  width: 300px !important;
}
.sec_2{
  position: relative;
}
.sec_2Cont{
  position: absolute;
  top: 100px;
  margin-left: 7%;
}
.sec_2_btn{
  padding:15px 40px;
  font-size: 15px;
  border: none;
  background-color: #00226C;
  border-radius: 10px;
  color: hsla(0, 0%, 100%, 0.755);
  margin-top: 50px;
}
.sec_2_img_1{
  margin-left: 5% !important;
}
.sec_2_img_2{
  position: absolute;
  top: 250px;
  left: 870px;
}
.sec_2Cont{
  margin-left: 180px !important;
}
.baseText{
  padding: 20px 20px;
  display: block;
  background-color: #ffffff93;
  margin-left: 200px;
  border-radius: 40px;
  width: 30%;
  font-size: 13px;

}

/* Responsive */

@media(max-width:400px){
  .sec_2Cont{
    margin-left: 10px !important;
  }
  .secondText{
    width: 90% !important;
  }
  .thirdText{
    width: 90% !important;
  }
  .sec_2{
    height: 1200px;
  
  }
  .sec_2_img_1{
    margin-left: -20px !important;
    width: 300px !important;
    height: 300px !important;
    margin-top: 50px;
  }
  .sec_2_img_2{
    position: absolute;
    width: 200px !important;
    height: 200px !important;
    top: 850px;
    left: 140px;
  }
  .baseText{
    margin-left: 60px !important;
    width: 40% !important;
    margin-top: 40px;
    padding: 10px 20px !important;
  }
}

/* Section */

.serviceSec{
  height: 800px;
  width: 100vw;
  background-color: hsla(0, 17%, 91%, 0.71);
  
 
}

.serHeading{
  color: #00226C;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-top: 4%;
}
.serviceBlock{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  flex-wrap: wrap;
}

@media(max-width:400px){
  .hl{
    margin-top: 120px;
  }
  .serviceSec{
    height: 1800px;
    width: 100vw;
    background-color: hsla(0, 17%, 91%, 0.71);
   
  }
 
}


.block1{
  height: 420px;
  width: 350px;
  border: 2px hsla(0, 9%, 30%, 0.123) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
  border-radius: 10px;
 
}
.block1 p{
  font-size: 13px;
  line-height: 35px;
  margin-top: 100px;
  color: #00226C;
  font-weight: 600;
}
.serviceImg{
  position: absolute;
  top: -85px;
}
.serviceBtn{
  border: none;
  background-color: #00226C;
  color: #ffff;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 13px;
}


/* Section - 4*/
.section_4{
  position: relative;
}
.section4Container{
  position: absolute;
  top: 100px;
}
.section_4{
  height: 700px;
  width: 100vw;
  background-color: #01788C;
  position: relative;
  
}
.section_4 img{
  width: 100vw;
  height: 700px;
}
.sec4cont1{
  margin-left: 150px;
}
.sec4cont2{
  margin-left: 100px;
}

.sec4cont1 .sec4tit1 {
  color: #00226C;
  font-weight: 500;
  display: block;
  font-size: 14px;

}
.sec4cont1 .sec4tit2{
  display: block;
  font-size: 25px;
  font-weight: 700;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
}
.sec4cont1 img{
  height: 350px;
  width: 400px;
}
.dummy{
  height: 220px;
  width: 70px;
  border-radius: 15px;
  background-color: #01788C;
  position: absolute;
  left: 500px;
  top: 150px;
}
.dummybtn{
  transform: rotate(-90deg);
  padding: 16px 56px;
  border: none;
  background-color: #00226C;
  font-size: 14px;
  font-weight: 500;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  position: absolute;
  left: 432px;
  top: 230px;
}
.points2{
  width: 900px;
}
.sec4para{
  font-size: 14px;
  width: 70%;
  color: hsla(0, 0%, 100%, 0.645);
}
.point1{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  
}
.point1 img{
  height: 30px !important;
  width: 30px !important;
  display: inline;
  margin-top: 20px;
}
.point1cont{
  display: inline;
  color: hsla(0, 0%, 100%, 0.645);
}
.firstSpan{
  font-size: 17px;
  font-weight: 450;
  color: hsla(0, 0%, 100%, 0.645);
  margin-bottom: 20px !important;
}
.secondSpan{
  font-size: 14px;
  width: 70%;
  display: block;
  margin-top: 20px !important;
}

/* Responsive */

@media(max-width:400px){
  .sec4cont1{
    margin-left: 20px;
  }
  .sec4cont1 img{
    width: 330px;
    height: 330px;
  }
  .dummy{
    left: 300px;
    top: 120px;
    height: 200px;
    width: 70px;
  }
  .dummybtn{
    left: 250px;
    top: 205px;
    padding: 16px 38px;
  }
  .section_4{
    height: 1250px;
    width: 100vw;
    background-color: #01788C;
    position: relative;
  }
  .sec4cont2{
    margin-left: 20px;
    margin-top: 40px;
  }
  .sec4para{
    width: 38%;
  } 
  .points2{
    margin-left: -30px !important;
  }
  .secondSpan{
    width: 38%;
  }
  .sec4tit2{
    width: 40% !important;
  }
  .sec4tit1{
    width: 40% !important;
  }
}

/* Client Title */

.Clienttit{
  margin-top: 50px;
  font-weight: 600;
}

.client1{
  margin-left: 13%;

}
.client2{
  margin-left: 10%;
}
.clientCont{
  margin-top: 50px;
  margin-bottom: 150px;
}
.Ccont{
  color: hsla(0, 0%, 0%, 0.567);
}
.user1{
 display: grid;
 grid-auto-flow: row;
 grid-template-columns: 100px 390px;
 margin-top: 50px !important;
  
}
.Cname{
  display: block;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}
.Cabout{
  color: hsla(0, 0%, 0%, 0.567);
  font-size: 14px;
}

/* Responsive */


@media(max-width:400px){
  .Ccont{
    margin-left: -37px !important;
    width: 95% !important;
  }
  .hel{
    margin-left: -20px !important;
  }
  .user1{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 90px 290px;
    margin-top: 30px !important;
    margin-bottom: 50px;
     margin-left: -20px !important;
   }
}

/* Medical lab serivce */

.labtit{
  font-weight: 550;
  margin-bottom: 100px;
}
.scont{
  font-weight: 500;
}
.Ssect1{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  margin-left: 14%;
}
.block22{
  margin-top: 40px;
}


.lastBtn{
  margin-top: 60px;
  margin-bottom: 50px;
}
.lastBtn button{
  padding: 10px 20px;

  border-radius: 10px;
  font-weight: 500;
}
.lastBtn1{
  background-color: #00226C;
  color: #fff;
  border: none;
}
.lastBtn2{
  border: 2px solid #5430305a;
  margin-left: 20px;
}


/* Responsive */

@media(max-width:400px){
  .lastBtn2{
    border: 2px solid #5430305a;
    margin-left: 0px;
    margin-top: 20px;
  }
  .block22{
    margin-top: 0px;
  }
  .Ssect1{
    display: grid;
    grid-template-columns: 200px 200px;
    
    margin-left: 3%;
  }
  .scont{
    font-weight: 500;
    font-size: 12px;
  }
  .bl1 img{
    height: 35px;
    width: 35px;
  }
  .labtit{
    font-weight: 550;
    margin-bottom: 50px;
  }
  .bil{
    margin-top: 20px;
  }
  .bl11{
    margin-top: 20px;
  }
}




/* Footer */
.footer{
  background-color: #018594;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
}
.footer a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 10px;
 
}
.footer li{
  list-style: none;
  color: #fff;
  margin-top: 20px !important;
}
/* Responsive */

@media(max-width:400px){
  .footer{
    background-color: #018594;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1450px;
  }
  .footer li{
    list-style: none;
    color: #fff;
    margin-top: 5px !important;
  }
  .footerLogo img{
    margin-left: 30%;
  }
  .FooterAboutUs{
    margin-left: 22%;
  }
}
/* LastFooter */
.lastFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px !important;
}
.lastFooter ul li{
  margin-left: 5%;
  width: 300px;
}

@media(max-width:400px){
  .lastFooter{
    display: block;
    margin-left: 25px;
    height: 70px !important;
  }
  .lastFooter ul li{
    margin-left: 5%;
    width: 300px;
  }
  
}